/StudyRejectedEdits.aux
/StudyRejectedEdits.log
/StudyRejectedEdits.out
/tmp/
/StudyRejectedEdits.pdf
/StudyRejectedEdits.synctex.gz
/MainCharacterization.pdf
/MainCharacterization.synctex.gz
/StudyRollbackReasonAmbiguity.pdf
/StudyRollbackReasonAmbiguity.synctex.gz
/StudyRollbackReasonAmbiguit.synctex.gz
/main.aux
/main.log
/main.out
/StudyRollbackReasonAmbiguityMSR.pdf
/StudyRollbackReasonAmbiguityMSR.synctex.gz
/ASE2020_RollbackAmbiguity.pdf
/ASE2020_RollbackAmbiguity.synctex.gz
/SEB.synctex.gz
/SEBD.pdf
/SEBD.synctex.gz
